{% extends 'site/partials/layout.html' %}

{% block metadis %}
{% endblock metadis %}

{% block metakey %}
{% endblock metakey %}

{% block title %}
{% endblock title %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
{% include 'site/partials/header.html' %}
{% endblock header %}

{% block banner %}
{% include 'site/partials/banner.html' %}
{% endblock banner %}

{% block slider %}
{% include 'site/partials/slider.html' %}
{% endblock slider %}

{% block allcategory %}
{% include 'site/partials/allcategory.html' %}
{% endblock allcategory %}

{% block latestproduct %}
{% include 'site/partials/latestproduct.html' %}
{% endblock latestproduct %}

{% block blog %}
{% include 'site/partials/blog.html' %}
{% endblock blog %}

{% block footer %}
{% include 'site/partials/footer.html' %}
{% endblock footer %}

{% block script %}
{% include 'site/partials/script.html' %}
{% endblock script %}