{% extends 'admin/partials/layout.html' %}

{% block title %}

{% endblock title %}

{% block navbar %}
{% include 'admin/partials/navbar.html' %}
{% endblock navbar %}

{% block sidebar %}
{% include 'admin/partials/sidebar.html' %}
{% endblock sidebar %}

{% block staticdata %}
{% include 'admin/partials/staticdata.html' %}
{% endblock staticdata %}

{% block dashboard %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Change {{ request.user.get_full_name }} password</h3>
            </div>
            <form method="POST" action="" novalidate>
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label>Old password</label>
                        {{ form.old_password }}
                        {% for error in form.old_password.errors %}
                        <p style="color: red; margin-left:20px;"><i class="fas fa-caret-right"></i> &nbsp;{{ error }}
                        </p>
                        {% endfor %}<label>New password</label>
                        {{ form.new_password1 }}
                        {% for error in form.new_password1.errors %}
                        <p style="color: red; margin-left:20px;"><i class="fas fa-caret-right"></i> &nbsp;{{ error }}
                        </p>
                        {% endfor %}
                        <label>Confirm password</label>
                        {{ form.new_password2 }}
                        {% for error in form.new_password2.errors %}
                        <p style="color: red; margin-left:20px;"><i class="fas fa-caret-right"></i> &nbsp;{{ error }}
                        </p>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-block">Product Category</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock dashboard %}

{% block footer %}
{% include 'admin/partials/footer.html' %}
{% endblock footer %}

{% block script %}
{% include 'admin/partials/script.html' %}
{% endblock script %}