{% extends 'admin/partials/layout.html' %}

{% block title %}

{% endblock title %}

{% block navbar %}
{% include 'admin/partials/navbar.html' %}
{% endblock navbar %}

{% block sidebar %}
{% include 'admin/partials/sidebar.html' %}
{% endblock sidebar %}

{% block staticdata %}
{% include 'admin/partials/staticdata.html' %}
{% endblock staticdata %}

{% block dashboard %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">S.N</th>
            <th scope="col">title</th>
            <th scope="col">Marked Price</th>
            <th scope="col">Selling Price</th>
        </tr>
    </thead>
    <tbody>
        {% for i in prolist %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'productdetails' i.id %}">{{ i.title }}</a></td>
            <td>{{ i.marked_price }}</td>
            <td>{{ i.selling_price }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock dashboard %}

{% block footer %}
{% include 'admin/partials/footer.html' %}
{% endblock footer %}

{% block script %}
{% include 'admin/partials/script.html' %}
{% endblock script %}