{% extends 'admin/partials/layout.html' %}

{% block title %}

{% endblock title %}

{% block navbar %}
{% include 'admin/partials/navbar.html' %}
{% endblock navbar %}

{% block sidebar %}
{% include 'admin/partials/sidebar.html' %}
{% endblock sidebar %}

{% block staticdata %}
{% include 'admin/partials/staticdata.html' %}
{% endblock staticdata %}

{% block dashboard %}

{% endblock dashboard %}

{% block footer %}
{% include 'admin/partials/footer.html' %}
{% endblock footer %}

{% block script %}
{% include 'admin/partials/script.html' %}
{% endblock script %}
